*{
    border-radius: 6px;
    outline: none;
}

body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    margin: 0; 
    padding-bottom: 3rem; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: dimgrey;
    height: 100%;
}

#form { position: fixed; background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#messages { 
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style-type: none; 
    margin: 0; 
    padding: 0; }
#messages > li { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding: 0.5rem 1rem; 
}
#messages > li{ background: #efefef; }
#typing { position: absolute; top: -27px; left: 10px; white-space: nowrap;}

#messages-container{
    width: 95%;
    height: 800px;

    word-break: keep-all;
}

#userName{
    border: none;
    font-size: 24px;
    padding: 10px;

    box-shadow: 2px 2px 10px 4px rgba(85, 80, 80, 0.507);
}

#userName::placeholder{
    color: rgba(85, 80, 80, 0.349);
    font-size: 20px;
}

#typing{
    font-family: monospace;
    color: #fff;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);

    font-size: 18px;
}

#timernow{
    color: rgba(51, 51, 51, 0.637);
    font-family: sans-serif;
    font-size: 12px;

    position: absolute;
    right: 12px;
    bottom: 6px;
}